<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilibiliLiveTV">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- Used to launch our content directly from home screen launcher or Assistant -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows our app to be launched from a URL, not just via explicit intent -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows our app to receive implicit intents -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Define the filters for the URI being sent -->
                <data android:host="@string/host_name" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BrowseErrorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
    </application>

</manifest>